<h3 class="text-center text-white bg-primary">Hello Admin</h3>
<a class="btn btn-success" asp-action="ChooseProductForAdding">Add new Product</a>
<a class="btn btn-success" asp-action="CategoryForm" >Add new Category</a>

