<h3 class="text-center text-black bg-warning">Hello Admin</h3>
<div class="row">
    <div class="col-2">
        <h3 class="text text-white">Create</h3>
        <a class="btn btn-success mb-2" asp-action="ChooseProductForAdding">New Product</a>
        <a class="btn btn-success mb-2" asp-action="CategoryForm">New Category</a>
        <a class="btn btn-success mb-2" asp-action="SizeForm">New Size</a>
    </div>
    <div class="col-2">
        <h3 class="text-white">Edit Category</h3>
        <vc:all-categories />
    </div>
    <div class="col-2">
       
        <vc:all-sizes />
    </div>
</div>




