<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if (ViewBag.Title == null)
        {
            ViewBag.Title = "Pizza Max";
        }
        @ViewBag.Title
    </title>
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/pizzas.css" />
    <script src="https://kit.fontawesome.com/5b3f1e6611.js" crossorigin="anonymous"></script>
    <base href="~/" />

    @if (ViewBag.Main == "Main")
    {
        <link rel="stylesheet" href="/css/main.css" />
    }

    <script src="/js/script.js"></script>
</head>


<body>
    
    <div class="@(ViewBag.Main=="Admin"? "container-fluid bg-light min-vh-100":"container-fluid bg-secondary min-vh-100") pb-4">
        @*
        // Maybe Use Render Section ??
        *@
        @if (ViewBag.Main != "Main")
        {
        <header>
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                        <span class="navbar-brand mb-0 h1 text-light">Pizza Max</span>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-route-pizzaCatName="" asp-action="AllPizzas">
                                        Pizzas
                                        <img src="icons/PizzaLogo/pizza.png" width="30" height="30" alt="pizza">
                                    </a>

                                </li>

                                <vc:dropdown-drinks />

                            </ul>

                        </div>


                        <div class="col-2 bg-dark text-light text-center">

                            <a asp-action="SeeCart" class=" nav-link text-white">
                                Cart
                                <img src="icons/CartLogo/carts.png" width="30" height="30" alt="cart">
                            </a>

                        </div>

                        <div class="col-2">
                            <a class="nav-link text-light" asp-page="/Users/LogIn">
                                Log-In
                                <img src="icons/LogInOut/001-login.png" width="30" height="30" alt="pizza">
                            </a>
                        </div>

                        


                    </nav>
                    

                </div>
                
            </div>

</header>
        }


        @RenderBody()
    </div>
    
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
