
    <section class="pizza">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="intro">
                        <div class="intro_text">
                            <div class="super">Super</div>
                            <div class="delicious">Delicious</div>
                        </div>
                        <div class="picca">Pizza</div>
                        <div class="bestDeal">Today`s Best Deal</div>
                        <p class="intro_description">
                            We will deliver Delicious Pizza within 30 minutes!
                        </p>
                        <div class="btn">
                            <a href="#" class="btn_round">
                                <img class="img_bt"
                                     src="icons/orderBtn/Array.png"
                                     alt="icon" />
                            </a>
                            <a href="#">Order Now</a>
                        </div>
                    </div>

                    <!-- <div class="btn">
                        <div class="btn_round">
                          <img class="img_bt"src="icons/orderBtn/Array.png" alt="icon">
                        </div>
                        <a href="#">Order Now</a>
                      </div> -->
                </div>

                <div class="col-md-5 offset-md-1">
                    <div class="imagess">
                        <div class="img_rad">
                            <a asp-action="OrderOwnPizza" class="img_descr">Create your own Pizza</a>
                            <a href="order.html">
                                <img class="img_pizza"
                                     src="img/mainPageBackground/pizza2 (2).jpg"
                                     alt="pizza" />
                            </a>
                        </div>
                        <div class="img_rad">
                            <a href="order.html" class="img_descr">Pizza`s Mix</a>
                            <a href="order.html">
                                <img class="img_pizza"
                                     src="img/mainPageBackground/pizzaMix.jpg"
                                     alt="pizza" />
                            </a>
                        </div>
                        <div class="img_rad">
                            <a href="order.html" class="img_descr">Drinks</a>
                            <a href="order.html">
                                <img class="img_pizza"
                                     src="img/mainPageBackground/drinks.jpg"
                                     alt="pizza" />
                            </a>
                        </div>
                        <div class="img_rad">
                            <a href="order.html" class="img_descr">Desserts</a>
                            <a href="order.html">
                                <img class="img_pizza"
                                     src="img/mainPageBackground/des.jpg"
                                     alt="pizza" />
                            </a>
                        </div>

                        <div class="img_rad">
                            <a href="order.html" class="img_descr">Snacks</a>
                            <a href="order.html">
                                <img class="img_pizza"
                                     src="img/mainPageBackground/cheeze.jpg"
                                     alt="pizza" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/script.js"></script>
