@model long
 
<div class="container-fluid  bg-secondary min-vh-100">
    <component type="typeof(MaxPizzaProject.Blazor.Toppings)"
               param-pizzaid="Model" render-mode="Server" />

    </div>



