@model IEnumerable<string> 




@foreach(string productName in Model)
            {
    
    <a  class="btn  btn-success m-lg-2" asp-action="ProductForm" asp-route-productName="@productName">@productName</a>
    
            }

    