@page
@model LogoutModel
@using System.Text.Json.Serialization;
@using System;
@using MaxPizzaProject.Infrastructure;
@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.DependencyInjection;

<div class="bg-primary text-center text-white p-2 mt-2"><h4>Log Out</h4></div>
<div class="m-2">
    <h6>You are logged out</h6>
    <a asp-page="Login" class="btn btn-secondary">OK</a>
</div>





@functions{

    public class LogoutModel : PageModel
    {

        private IServiceProvider services;

        private SignInManager<IdentityUser> signInManager;

        public LogoutModel(SignInManager<IdentityUser> signInMgr, IServiceProvider serv)
        {
            signInManager = signInMgr;
            services = serv;

        }

        public void ClearSession()
        {

            ISession session =
             services.GetRequiredService<IHttpContextAccessor>()?.HttpContext.Session;
            CurrentSession.currentSession = "DefaultSession";
            SessionCart cart = session?.GetJson<SessionCart>(CurrentSession.currentSession) ?? new SessionCart();
            cart.Session = session;
            cart.Clear();

        }
        public async Task OnGetAsync()
        {
            ClearSession();
            await signInManager.SignOutAsync();

        }
    }
}
